@using JobApplication.Services;
@using JobApplication.ViewModels;

@{
    ViewData["Title"] = "Home Page";
    AllJobsViewModel jobs = ViewData["AllJobs"] as AllJobsViewModel;
}

<div class="list-group">
    <ul class="list-unstyled">
        @foreach (var job in jobs.Jobs)
        {
        <li class="list-inline-item">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">@job.Name</h2>
                    <h3 class="text-muted">Salary: @job.Salary lv.</h3>
                    <p>@job.Description</p>
                    <h4> Requirments: </h4>
                    <h5>Required Experience: @job.RequiredExperience</h5>
                    <h5>Required Education: @job.RequiredEducation</h5>
                    <a class = "btn btn-primary btn-rounded" asp-area="" asp-controller="Home" asp-action="Index">Sign for job</a>
                </div>
            </div>
            <hr style="border-top: 2px dashed black">
        </li>
        }
    </ul>
</div>

